/* Estilos para el contenedor */
.ctn-table {
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px;
}
/* Estilos para el botón "Nuevo" */
.ctn-table but/* Estilos para el contenedor */
.ctn-table {
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px;
}
/* Estilos para el botón "Nuevo" */
.ctn-table button {
    margin-bottom: 20px;
    font-size: 15px;
    background-color: green;
}
.agregar{
    margin-left: 41px;
}
/* Estilos para el encabezado */
.ctn-table h1 {
    font-size: 24px;
    margin-bottom: 20px;
    margin-left: 25px;
}
/* Estilos para la tabla */
.ctn-table table {
    width: 100%;
    margin-bottom: 20px;
    display: block;
}
.ctn-table th,
.ctn-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    padding-left: 50px;
}
.ctn-table th {
    font-weight: bold;
    border: none;
}
.ctn-table tbody tr td{
    border: none;
}
.ctn-table tbody tr:hover {
    background-color: #f5f5f5;
}
.ctn-table tbody td.Button-flex{
    display: flex;
}
/* Estilos para los botones de acción */
.ctn-table button {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.ctn-table button.edit {
    background-color: #007bff;
    color: #fff;
}  
.ctn-table button.delete {
    background-color: #dc3545;
    color: #fff;
    margin-left: 10px;
}
/* Estilos personalizados para los campos de formulario */
#centro{
    margin-left: 33%;
    margin-top: 10px;
}
#centro h3{
    margin-left: 18.5%;
    font-size: large;
}
#centro h2{
    margin-left: 13%;
    font-size: large;
}
#centro button{
    margin-left: 15px;
    margin-top: 10px;
    font-size: 15px;
}
.form-contro {
    width: 50%;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #f8f9fa;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
    margin-top: 10px;
}
.final{
    display: flex;
    margin-left: 15%;
}
.final Button{
    margin-left: 15px;
    margin-top: 10px;
    font-size: 15px;
}
.position{
    margin-left: 25px;
}
button.guar{
    background-color: #33a02f;
    color: #fff;
    margin-left: 10px;
}
.obli{
    color: rgb(255, 0, 0);
}
/* Barra de navegacion */
.sidebar {
    display: flex;
    flex-direction: column;
    background-color: #265ab4;
    padding: 20px;
    color: #fff;
    width: 200px;
    position: absolute;
    margin-left: 11%;
    border-radius: 20px;
}
.nav-link {
    display: block;
    padding: 10px;
    color: inherit;
    text-decoration: none;
    transition: background-color 0.3s;
    margin-left: 4%;
    margin-top: 10px;
} 
/* Animación para el enlace cuando se hace clic */
  .nav-link:active {
    background-color: #444;
}
/* Estilos para el enlace activo (se queda con un color más oscuro) */
.nav-link.active {
    background-color: #555;
}
/* Estilos para los enlaces no activos (más claros) */
.nav-link:not(.active) {
    opacity: 0.7;
}
/* Animación para cada palabra del enlace */
.nav-link span {
    display: inline-block;
    transition: transform 0.3s;
}
/* Rotación en el eje Y cuando se hace clic */
.nav-link:active span {
    transform: rotateY(180deg);
}ton {
    margin-bottom: 20px;
    font-size: 15px;
    background-color: green;
}
.agregar{
    margin-left: 41px;
}
/* Estilos para el encabezado */
.ctn-table h1 {
    font-size: 24px;
    margin-bottom: 20px;
    margin-left: 25px;
}
/* Estilos para la tabla */
.ctn-table table {
    width: 100%;
    margin-bottom: 20px;
    display: block;
}
.ctn-table th,
.ctn-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    padding-left: 50px;
}
.ctn-table th {
    font-weight: bold;
    border: none;
}
.ctn-table tbody tr td{
    border: none;
}
.ctn-table tbody tr:hover {
    background-color: #f5f5f5;
}
.ctn-table tbody td.Button-flex{
    display: flex;
}
/* Estilos para los botones de acción */
.ctn-table button {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.ctn-table button.edit {
    background-color: #007bff;
    color: #fff;
}  
.ctn-table button.delete {
    background-color: #dc3545;
    color: #fff;
    margin-left: 10px;
}
/* Estilos personalizados para los campos de formulario */
#centro{
    margin-left: 33%;
    margin-top: 10px;
}
#centro h3{
    margin-left: 18.5%;
    font-size: large;
}
#centro h2{
    margin-left: 13%;
    font-size: large;
}
#centro button{
    margin-left: 15px;
    margin-top: 10px;
    font-size: 15px;
}
.form-contro {
    width: 50%;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #f8f9fa;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
    margin-top: 10px;
}
.final{
    display: flex;
    margin-left: 15%;
}
.final Button{
    margin-left: 15px;
    margin-top: 10px;
    font-size: 15px;
}
.position{
    margin-left: 25px;
}
button.guar{
    background-color: #33a02f;
    color: #fff;
    margin-left: 10px;
}
.obli{
    color: rgb(255, 0, 0);
}
/* Barra de navegacion */
.sidebar {
    display: flex;
    flex-direction: column;
    background-color: #265ab4;
    padding: 20px;
    color: #fff;
    width: 200px;
    position: absolute;
    margin-left: 11%;
    border-radius: 20px;
}
.nav-link {
    display: block;
    padding: 10px;
    color: inherit;
    text-decoration: none;
    transition: background-color 0.3s;
    margin-left: 4%;
    margin-top: 10px;
} 
/* Animación para el enlace cuando se hace clic */
  .nav-link:active {
    background-color: #444;
}
/* Estilos para el enlace activo (se queda con un color más oscuro) */
.nav-link.active {
    background-color: #555;
}
/* Estilos para los enlaces no activos (más claros) */
.nav-link:not(.active) {
    opacity: 0.7;
}
/* Animación para cada palabra del enlace */
.nav-link span {
    display: inline-block;
    transition: transform 0.3s;
}
/* Rotación en el eje Y cuando se hace clic */
.nav-link:active span {
    transform: rotateY(180deg);
}